
*{
  margin: 0;
  padding: 0;
}

.nav-bar{
padding:1rem;
text-align:center
}
.card-container{
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 10px;
  justify-items: center;
}

/* .book-details{
  background: rgb(214,12,101);
  background: linear-gradient(90deg, rgba(214,12,101,1) 0%, rgba(233,148,148,1) 100%);
} */
.book-details:hover {
  transform: scale(1.02);
  cursor: pointer;
}
.card-image{
  width: 16rem;
  height: 20rem;
  object-fit: cover;
}
.add-book{
  text-align: center
  
}
h1{
  text-align: center;
}
span{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight:bold;
}

.textField-edit{
  text-align: center
}